<!DOCTYPE html>
<html lang="en">

<html lang="en">  
  <head>  
    <meta charset="utf-8" />  
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />    
    <title>Techblog</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />  
    <link rel="stylesheet" type="text/css" href="./css/index.css" />  
  </head>  

<body>
  <header class="header">
    <h1>
      <a href="/posts">Tech Blog </a>
    </h1>
    <!-- If logged in then show logout button -->
    {{!-- {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}} --}}
  </header>
  <main class="body">
    {{{ body }}}
  </main>
  <footer>
      <p>www.techblog.com</p>
  </footer>

  <!-- TODO: Add a comment describing the functionality of this helper -->
  {{!-- {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}

</body>

</html>
