
  <div>
    <div>
      <h2> {{post.post_title}} </h2>
      <p>Written by: {{post.author.user_name}}</p>
      <p>{{post.post_body}}</p>
      <div class="comments">
        <h3>Comments</h3>
      <ul>
        {{#each post.comments as |comment|}}
          <p>{{comment.comment_body}}</p>
        {{/each}}
      </ul>
      </div>
    </div>
  </div>
