
  <div>
    <div>
      <h2> {{post.post_title}} </h2>
      <p></p>
      <p>{{post.post_body}}</p>
      <ul>
        {{#each post.comments as |comment|}}
          <li>{{comment.text}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
