
  <div>
    <div>
      <h2> {{post.post_title}} </h2>
      <p>{{post.author.user_name}}</p>
      <p>{{post.post_body}}</p>
      <ul>
        {{#each post.comments as |comment|}}
          <p>{{comment.comment_body}}</p>
        {{/each}}
      </ul>
    </div>
  </div>
